      <div class="container grid-max-width">
        <div class="fixed-grid has-3-cols">
          <div class="grid">
            <div class="cell">Rate</div>
            <div class="cell">T = {{ .Sin.X }}</div>
            <div class="cell">Y = {{ .Sin.Y }}</div>
            <div class="cell">Pressure</div>
            <div class="cell">T = {{ .Sqr.X }}</div>
            <div class="cell">Y = {{ .Sqr.Y }}</div>
            <div class="cell">Temperature</div>
            <div class="cell">T = {{ .Tri.X }}</div>
            <div class="cell">Y = {{ .Tri.Y }}</div>
          </div>
        </div>
      </div>
